---
// Components import
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

// Utils
import { slugify, formatBlogPosts } from "../../js/utils";

const { categoryName, posts } = Astro.props;

// Dynamic routes for categories
export async function getStaticPaths() { 
    // Get all posts and sort them
    const allPost = await Astro.glob("../blog/*.md")
    const formattedPosts = formatBlogPosts(allPost);
    
    // Create array with all unique category types
    const allCategories = [...new Set (
        formattedPosts.map((post) => post.frontmatter.category).flat())
    ];

    // Map throught all categories
    return allCategories.map((category) => {
        // Loop through all posts and create array of post of matching category 
        const categoryType = formattedPosts.filter((post) => post.frontmatter.category === category);
        
        // From getStaticPaths() return
        return {
            // Url to the category with slugified endroute
            params: {category: slugify(category)},
            
            // Props with category name and it posts 
            props: {
                categoryName: category,
                posts: categoryType,
            }
        }
    })
}
---

<MainLayout title={`Posts about ${categoryName}`}>
    <section class="container" aria-label={`Posts about ${categoryName}`}>
        <h1 class="h1">Posts about {categoryName}</h1>
        <div class="post-container">
            {
                // Display all posts returned from getStaticPaths()
                posts.map((post) => (
                    <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
                ))
            }
        </div>
    </section>
</MainLayout>
